[submodule "zprezto"]
  path = zprezto
  url = https://github.com/sorin-ionescu/prezto.git
[submodule "colours/base16-iterm2"]
	path = colours/base16-iterm2
	url = https://github.com/base16-project/base16-iterm2.git
[submodule "colours/base16-shell"]
	path = colours/base16-shell
	url = https://github.com/base16-project/base16-shell.git
