[user]
	# name = Change Me
	# email = hello@example.com
	# signingkey = xxx
[core]
  legacyheaders = false
	excludesfile = ~/.gitexclude
  whitespace = trailing-space,space-before-tab
  quotepath = false
  autocrlf = false
  safecrlf = true
  editor = "nvim"
[branch]
	sort = -committerdate
  autosetupmerge = always
  autosetuprebase = always
[tag]
  sort = version:refname
	gpgSign = true
[init]
	defaultBranch = main
[rerere]
	enabled = 1
	autoupdate = 1
[push]
  default = tracking
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[alias]
  s = "status -sb"
  l = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative
  co = checkout
[color]
  ui = auto
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
