[alias]
  s = "status -sb"
  l = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative
  gl = log --oneline --decorate --stat --graph
  co = checkout
  cot = checkout --track
  sf = submodule foreach
  c  = "!git log --oneline | wc -l "
  ignored = "!git ls-files --others -i --exclude-standard --directory"
  pushsub = submodule foreach "git push origin master"
  pullsub = submodule foreach "git pull origin master"
[user]
  name = Kinesis User
  email = user@kinesis.org
[core]
  legacyheaders = false
  excludesfile = ~/.gitexclude
  whitespace = trailing-space,space-before-tab
  quotepath = false
  autocrlf = false
  safecrlf = true
  editor = vim
[color]
  ui = auto
[branch]
  autosetupmerge = true
[advice]
  pushNonFastForward = false
  statusHints = false
[push]
  default = tracking
[rerere]
  enabled = true
